body, #exclude {
    text-decoration: none;
    color: black;
    cursor: auto;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.footer .company-logo{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 2em;
}
.footer .column{
    margin: auto!important;
}
@media only screen and (min-width: 601px) {
    .copyright-span{
        font-size: 1.2em;
        position: absolute;
        left: 0px;
       
    }
    .footer-icons{
        padding-left: 45em;
    }
}
@media only screen and (max-width: 600px) {
    .copyright-span{
        font-size: 12px;
        font-weight: 700;
    }
}