@media only screen and (max-width: 600px) {
    .slider-page-images{
        height: 13em!important;
    }
}
.multi-cards{
    padding: 2.5em 0em;
    background-color: 	#353935;
    color: white!important;

}

.multi-cards .multi-cards-header{
    text-align: center;
    font-family: serif;
    font-weight: 600;
    font-size: 3em;
}
/* black n white theme start */
.multi-cards .ui.card{
    background-color: 	#353935;
    box-shadow: 0 0px 0px 0 #d4d4d5, 0 0 0 0px #d4d4d5!important;
}
.multi-cards .extra.content{
    border-top: 1px solid white!important;
}
.multi-cards .date,.card-descriptionion , .price-section span{
    color: white!important;
}
.multi-cards .discount-price{
    color: black!important;
    font-weight: 800!important;
    padding: 0em 0.3em;
}
.multi-cards .ui.horizontal.divider.header{
    color: white!important;
}
/* black n white theme end */
